*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%; /* Use a percentage for smaller screens */
    }

    .game-icon {
        width: 100px; /* Adjust the icon size for smaller screens */
    }
}

.container {
    width: 960px;
    margin-inline: auto;
    text-align: center;
    margin-top: 60px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    gap: 2rem;
}

h1 {
    margin-bottom: 35px;
}

.score {
    margin-top: 50px;
    font-size: 1.5rem;
}

.game-icon {
    width: 150px;
    cursor: pointer;
}

.game-options {
    margin-top: 60px;
}

.game-result {
    margin-top: 70px;
    font-size: 30px;
}

.choice {
    margin-top: 40px;
    font-size: 1.5rem;
}